<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @line.body %>
</p>

<p>
  <strong>Chapter:</strong>
  <%= @line.chapter_id %>
</p>

<%= link_to 'Edit', edit_line_path(@line) %> |
<%= link_to 'Back', lines_path %>
