<div class="container-fluid">
  <div class="row rtl" id="poem_quick_view">
    <% @poem.chapters.order(sort: :asc, id: :asc).map do |chapter| %>
      <% links = chapter.links.to_a %>
      <div class="<%= "col-md-3" %>">
        <div class="card mt-3 mb-3">
          <div class="card-img-top" style="text-align: center;">
            <% if links.present? %>
              <div class="row">
                <% controls_id = "chapter_#{ chapter.id }_controls" %>
                <div id="<%= controls_id %>" class="carousel slide col-12" data-ride="carousel" data-interval="100000000">
                  <div class="carousel-inner">
                    <% links.map.with_index do |link, link_index| %>
                      <%= render "media_viewer", link: link, link_index: link_index %>
                    <% end %>
                  </div>
                  <% if links.size > 1 %>
                    <a class="carousel-control-prev" href="#<%= controls_id %>" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#<%= controls_id %>" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  <% end %>
                </div>
              </div>
            <% else %>
              <%= link_to  poem_path(@poem.id) do %>
                <%= image_tag 'default-icon.png', class: "card-img-top", style: "width: auto !important" %>
              <% end %>
            <% end  %>
          </div>
          <div class="card-body">
            <h5 class="card-title" dir="rtl"><%= link_to  chapter.name, chapter_path(chapter.id) %></h5>
            <p class="card-text"> <%= truncate(chapter.desc, length: 200)  %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col offset-md-2 col-md-8">
      <%= link_to "السابق", previous_poem_path(id: @poem.id), class: 'btn anchor-btn mb-3 mt-3' %>
      <%= link_to "التالي", next_poem_path(id: @poem.id), class: 'btn float-right anchor-btn mb-3 mt-3' %>
    </div>
  </div>
</div>

