<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @chapter.name %>
</p>

<p>
  <strong>Poem:</strong>
  <%= @chapter.poem_id %>
</p>

<%= link_to 'Edit', edit_chapter_path(@chapter) %> |
<%= link_to 'Back', chapters_path %>
