<!DOCTYPE html>
<html>
  <head>
    <script data-ad-client="ca-pub-1590169575043913" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138297734-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-138297734-1');
    </script>

    <title> <%= @poem.try(:name).to_s %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if dark_mode? %>
      <%= stylesheet_link_tag  'dark_mode', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% end %>

    <meta name="title" content="<%= sharing_title(@poem) %>" />
    <meta name="description" content="<%= sharing_desc(@poem) %>" />
    <link rel="image_src" href="<%= image_url 'icon.png' %>" />
  </head>

  <body>
  <div class="header p-1">
    <div class="container-fluid">
      <div class="row flex-row rtl">
        <a href="/" class="logo text-white mr-3">
          <%= image_tag 'icon-header.png' %>
        </a>
        <p class="text-white inline-block mr-3 mt-3 fs-18 "><%= @poem.try(:name) || "المدائح" %></p>
        <% if false %>
          <div class="header-right inline-block">
            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.ionicframework.borda215096" class="text-white mr-3">
              <%= image_tag play_store_icon %>
            </a>
            <a target="_blank" href="https://itunes.apple.com/us/app/borda-%D8%A7%D9%84%D8%A8%D8%B1%D8%AF%D8%A9/id1454496619?mt=8" class="text-white mr-3">
              <%= image_tag app_store_icon %>
            </a>
            <a target="_blank" href="https://www.facebook.com/bordaelmadyh/" class="text-white mr-3 facebook" >
              <%= image_tag 'facebook.png' %>
            </a>
            <%= link_to "?dark_mode=#{!dark_mode?}", class: "text-white mr-3 dark_mode" do  %>
              <%= image_tag 'dark_mode.png' %>
            <% end %>
            <a  href="/?dark_mode=true" class="text-white mr-3 dark_mode" >

            </a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
    <%= yield %>
  </body>
</html>
