<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <!-- Google tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9Y8SE5EBTT"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-9Y8SE5EBTT');
    </script>

    <title> <%= @poem.try(:name) || params[:name] || 'مدائح النبي صلي الله عليه وبارك و سلم' %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', async: true%>

    <meta name="title" content="<%= sharing_title(@poem) %>" />
    <meta name="description" content="<%= sharing_desc(@poem) %>" />
    <link rel="image_src" href="<%= poem_image(@poem) %>" />
  </head>

  <body>
  <div class="header p-1">
    <div class="d-flex">
      <div class="flex-shrink-0">
        <!-- First column - won't shrink -->
        <a href="/" class="logo text-white">
          <%= image_tag 'icon-header.png', alt: 'logo' %>
        </a>
      </div>
      
      <div class="flex-grow-1 content">
        <!-- Middle column - grows to fill space -->
        <p class="text-white inline-block mr-3 mt-3 fs-18 ml-auto px-3 "><%= @header.presence || @poem.try(:name) || params[:name] || "القصائد" %></p>
      </div>
      
      <div class="flex-shrink-0 d-flex align-items-center">
        <!-- Third column - won't shrink -->
        <div class="content header-right inline-block ml-3 ">
          <a target="_blank" href="https://play.google.com/store/apps/details?id=com.ionicframework.borda215096" class="text-white mr-3">
            <%= image_tag play_store_icon, alt: 'play store' %>
          </a>
          <% if false %>
            <a target="_blank" href="https://www.facebook.com/bordaelmadyh/" class="text-white mr-3 facebook" >
              <%= image_tag 'facebook.png', alt: 'facebook' %>
            </a>
            <a target="_blank" href="https://twitter.com/bordaelmadyh" class="text-white mr-3 facebook" >
              <%= image_tag 'twitter.png' %>
            </a>
<!--            https://itunes.apple.com/us/app/borda-%D8%A7%D9%84%D8%A8%D8%B1%D8%AF%D8%A9/id1454496619?mt=8-->
            <a target="_blank" href="https://apps.apple.com/app/id1520516817" class="text-white mr-3">
              <%= image_tag app_store_icon , alt: 'app store' %>
            </a>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <ul class="nav nav-pills my-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <%= link_to "القصائد", root_path, class: "nav-link #{ current_page?(root_path) || ['poems', 'chapters'].include?(controller_name) ? 'active' : ''}" %>
        </li>
        <li class="nav-item" role="presentation">
          <%= link_to "أوراد البرهامية", awrad_path, class: "nav-link #{ ["awrad"].include?(action_name) || (action_name == 'show' && controller_name == 'application') ? 'active' : ''}" %>
        </li>
        <li class="nav-item" role="presentation">
          <%= link_to "دلائل الخيرات", dalaels_path, class: "nav-link #{ ["dalaels"].include?(controller_name) ? 'active' : ''}" %>
        </li>
        <li class="nav-item" role="presentation">
          <%= link_to "صلاوات النبى", salats_path, class: "nav-link #{ ["salats"].include?(controller_name) ? 'active' : ''}" %>
        </li>
    </ul>
  </div>
  <div class="tab-content" id="pills-tabContent">
    <%= yield %>
  </div>

    <!-- Google Adsense tag -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2772630944180636"
            crossorigin="anonymous"></script>
  </body>
</html>
