<!DOCTYPE html>
<html>
  <head>
    <title>Burda | <%= Rails.env if Rails.env.development? %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
    <%= yield %>  
    </div>
    
  </body>
</html>
