<!DOCTYPE html>
<html>
  <head>
    <!-- Google tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9Y8SE5EBTT"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-9Y8SE5EBTT');
    </script>

    <title> <%= @poem.try(:name) || 'مدائح النبي صلي الله عليه وبارك و سلم' %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if dark_mode? %>
      <%= stylesheet_link_tag  'dark_mode', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% end %>

    <meta name="title" content="<%= sharing_title(@poem) %>" />
    <meta name="description" content="<%= sharing_desc(@poem) %>" />
    <link rel="image_src" href="<%= image_url 'icon.png' %>" />
    <!-- Google Adsense tag -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2772630944180636"
     crossorigin="anonymous"></script>
  </head>

  <body>
  <div class="header p-1">
    <div class="container-fluid">
      <div class="row flex-row rtl">
        <a href="/" class="logo text-white">
          <%= image_tag 'icon-header.png', alt: 'logo' %>
        </a>
        <p class="text-white inline-block mr-3 mt-3 fs-18 ml-auto "><%= @poem.try(:name) || "المدائح" %></p>
          <div class="header-right inline-block ml-3 mt-md-1 mt-3">
            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.leef.elborda" class="text-white mr-3">
              <%= image_tag play_store_icon, alt: 'play store' %>
            </a>
            <a target="_blank" href="https://apps.apple.com/app/id1520516817" class="text-white mr-3">
              <%= image_tag app_store_icon , alt: 'app store' %>
            </a>
            <a target="_blank" href="https://www.facebook.com/bordaelmadyh/" class="text-white mr-3 facebook" >
              <%= image_tag 'facebook.png', alt: 'facebook' %>
            </a>
<!--            https://itunes.apple.com/us/app/borda-%D8%A7%D9%84%D8%A8%D8%B1%D8%AF%D8%A9/id1454496619?mt=8-->
            <% if false %>
              <a target="_blank" href="https://twitter.com/bordaelmadyh" class="text-white mr-3 facebook" >
                <%= image_tag 'twitter.png' %>
              </a>
              <%= link_to "?dark_mode=#{!dark_mode?}", class: "text-white mr-3 dark_mode" do  %>
                <%= image_tag 'dark_mode.png' %>
              <% end %>
            <% end %>
          </div>

      </div>
    </div>
  </div>
    <%= yield %>
  </body>
</html>
